@using AgendamentoMedico.Domain.Enuns
@model FuncionarioCreateViewModel

@{
    ViewData["Title"] = "Cadastro – Etapa 2";
}
<div class="card">
    <div class="card-header bg-color-code text-white">
        <h5>Passo 2 de 2: Funcionário</h5>
        <div class="progress mt-2">
            <div class="progress-bar" style="width:100%"></div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="StepFuncionario" method="post">
            <div class="mb-3">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Cargo" class="form-label">Cargo</label>
                <select asp-for="Cargo"
                        class="form-select"
                        asp-items="@(ViewData["Roles"] as SelectList)">F
                    <option value="">-- Selecione um cargo --</option>
                </select>
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <a asp-action="StepUsuario" class="btn btn-secondary">Voltar</a>
            <button type="submit" class="btn btn-success">Concluir</button>
        </form>
    </div>
</div>
